/*********************************************************************************************
** Table of Contents:                                                                       **
**********************************************************************************************

Project:    Simple UI Task
Version:    1.0.0
Created:    03/2023

1.  Color Codes
    ------------------------------
    1.  Primary Color
    2.  Secondary Color
    3.  Light Color
    4.  Dark Color
    ------------------------------

2.  Fonts Family
    ------------------------------
    1.  Headings Font
    2.  Body Font
    ------------------------------

3.  Resets & Global Styles
    ------------------------------

4.  Components Styles
    ------------------------------
    1.  Brand Logo
    2.  Ajax Loader
    3.  Custom Scrollbar
    ------------------------------

*********************************************************************************************/
